<% if (locals.message) { %>
<div
  class="alert text-center alert-<%- locals.error ? 'danger' : 'success' %>" 
  role="alert" style="text-align: center; padding-top: 2em;">
  <%= message %>
</div>
<% } %>
