<footer class="fix-footer" >
    <a href="#" class="footer-title">
      Back to top
    </a>
    <div class="footer-items">
      <ul>
        <h3>Get to Know Us</h3>
        <li><a href="#">About us</a></li>
      </ul>
      <ul>
        <h3>Connect with Us</h3>
        <li><a href="facebook.com" target="_self">Facebook</a></li>
        <li><a href="x.com" target="_self">Twitter</a></li>
        <li><a href="instagram.com" target="_self">Instagram</a></li>
      </ul>
      
      <ul>
        <h3>Let Us Help You</h3>
        <li><a href="#">How to make a purchase</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </footer>
</div> <!--closes wrapper div in header!!-->
<script src="/script.js"> </script>
</body>
</html>
