<footer>
    <a href="#" class="footer-title">
      Back to top
    </a>
    <div class="footer-items">
      <ul>
        <h3>Get to Know Us</h3>
        <li><a href="#">About us</a></li>
      </ul>
      <ul>
        <h3>Connect with Us</h3>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
      </ul>
      
      <ul>
        <h3>Let Us Help You</h3>
        <li><a href="#">How to make a purchase</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
