<%- include ('../partials/head') %>

    <main>
        <body>

            <form action="login" method="POST">
                <h1>Login</h1>
                  <label for="username">Username:</label>
                  <input type="username" id="username" name="username"/>
          
                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password"/>
          
                  <input type="submit" value="Login"/>
              </form>
 

<%- include ('../partials/footer') %>
