<%- include ('../partials/header') %>

    <main>

       

        <body>
        <div class="col"></div>
        <div id="login-pg" class="card">
            <form action="login" method="POST" >
                <h1 id="log_reg">Login</h1>
                <%- include ('../partials/alert.ejs') %>
                  <label for="username">Username:</label>
                  <input type="username" id="username" name="username"/>
          
                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password"/>
          
                  <input type="submit" value="Login"/>
              </form>
        </div>
 

<%- include ('../partials/footer') %>
