 <!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Login</title>
 <meta name="viewport" content="width=device-width,initial-scale=1">
</head> 

<body>

 <main>
  <h1>Login</h1>
  <form action="/login" method="POST" >
         <label type="text">Username</label>
         <input name="username">
         
         <label type="password">Password</label>
         <input name="password">
 
         <input type="submit" value="Login" class="btn btn-primary">
    </form>
 </main> 
 
</body>
</html> 
