 <!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Login</title>
 <meta name="viewport" content="width=device-width,initial-scale=1">
</head> 

    <main>
        <body>

            <form action="login" method="POST">
                <h1>Login</h1>
                  <label for="username">Username:</label>
                  <input type="username" id="username" name="username"/>
          
                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password"/>
          
                  <input type="submit" value="Login"/>
              </form>
 
        </body>
    </main>
</html> 
